body{
    color: White;
    font-family: Montserrat;  
     /*background: url(assets/img/background.png)no-repeat center center fixed; */
     background-size: cover;
}

.headerLogin{
    background-color: #8154A1;
    text-align: center;    
    font-size: 30px;
    line-height: 2.5em;
    border-radius: 10px 10px 0px 0px;
}

div.inputDiv>label{
    font-size: 13px;
    text-align: left;
}

div.inputDiv>input{
    font-size: 10px;
    text-align: left;
    line-height: 3em;
    color: White;
}

.insideBody{
    background-color: #3B4559;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.boton{
    border-radius: 5px 5px 5px 5px;
    /*line-height: 2.5em;*/
    color: #8355a3;
    font-weight: bold;
    font-size: 25px;
   /* background-color: #8355a3;
    margin-top: -1.25em;
    border-style: none;*/
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
    /*background: linear-gradient(to right, #8355a3 70%, #8154A1 100%);*/
}

input{
    border-color: White;
    border-width: thin;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    background-color: transparent;
}

label{
    color: #FAFAFA;
}

div.inputDiv>input::placeholder {
    color: #FAFAFA;
    opacity: 1; /* Firefox */
}

div.inputDiv>input::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #FAFAFA;
}

div.inputDiv>input:::-ms-input-placeholder { /* Microsoft Edge */
   color: #FAFAFA;
}

a:link{
    text-decoration: underline;
    color:#3B4559;
    font-size: 15px;
}

.trans{
    background-color: rgba(150,150,150,0.2);
    padding: 5%;

}

.logo1{ width:100%;}
.logo2{width:100%;}
.logo3{width:100%;}

@media (min-width: 300px) and (max-width: 768px) {
    .divImg{
        display: none;
    }
    
    .logo1{
    width: 60px;height: 60px
    }
    .logo2{
    width: 80px;height: 60px;margin-left: 20px
    }
    
    .logo3{
    width: 60px;height: 60px
    }
    
   
}

@media (max-width: 767.98px) {
    body{
        margin-bottom: 30px;
    }
    
    .divBoton{
        padding-left: 10px;
        padding-right: 50px;
    }
    
    .contenedorPrin{
        padding-left: 30px;
        padding-right: 30px;
    }
}



.modal-body{
    background-color: #3B4559;
    border-style: none;
    margin-top: -1px;
    font-size: 16px;
}

.modal-footer{
    background: linear-gradient(0deg, #808080 50%, #3B4559 50%);
    margin-top: -1px;
    border-style: none;
}

.modal-content{
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.modalHeader{
    font-size: 40px;
}

.circulo{
    border-style: solid;
    border-radius: 100%;
    width: 74px;
    height: 64px;
    padding-top: 4px;
    border-color: #e53935;
}

.circuloVerde{
    border-style: solid;
    border-radius: 100%;
    width: 74px;
    height: 64px;
    padding-top: 4px;
    border-color: #7bb342;
    padding-left: 10px;
}

.helperUp{
    font-size: 9px !important;
    text-align: right !important;
    display: none;
}

.fa-exclamation-triangle{
    color: Yellow;
}

.fixed-bottom {
    position: fixed;
    margin: auto;
    height: 80px;
    width: 100%;
    margin-bottom: 5px;
    
    
}


